<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="json2persistent.ZPM">
    <Module>
      <Name>json2persistent</Name>
      <Version>1.0.4</Version>
      <Description>Little tool to create persistent or message classes for InterSystems IRIS and InterSystems IRIS For Health from JSON input. The created classes will extend %JSON.Adaptor</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ISC/SE/Tools/JSON.CLS"/>
      <Resource Name="ISC/SE/REST/JSON.cls"/>
      <CSPApplication 
        Url="/se/tools/json"
        SourcePath="/src/csp"
        Recurse="1"
        DeployPath="{$cspdir}/se/tools/json" 
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="ISC.SE.REST.JSON"
        ServeFiles="1"
        CookiePath="/se/tools/json"
        UseCookies="2"
       />
    </Module>
  </Document>
</Export>
